body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: hidden;
    background: #2c2d44;
}


.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

:root {
    --unid-color: #1e2133;
    --spotify-color: #60d862;
    --seccion-amarilla-color: #fed23d;
    --form-slide: #2c93e4;
    /* --background-gradient: linear-gradient(270deg, #000000, #aa1414, #000000, #24428c); */
    --background-gradient: linear-gradient(270deg, #ff686b, #ffbb67);
    --background-size: 400% 400%;


    /* background: linear-gradient(270deg, #ff686b, #ffbb67);
background-size:  */
}

.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

header {
    padding: 20px 0;
    /* border-bottom: 3px solid #000; */
    z-index: 500;
    position: absolute;
    top: 0;
    width: 100%;
}

header .contenedor {
    border-bottom: 3px solid #fff;
}

header i {
    z-index: 4;
    font-size: 45px !important;
    color: #fff;
    cursor: pointer;
}

@keyframes HideToTop {
    from { top: 0px }
    to { top: -100%;}
}

@keyframes fromBottom {
    from { top: 100% }
    to { top: 0px; }
}

@keyframes hideToDown {
    from { top: 0px; }
    to { top: 100%; }
}

@keyframes bringFromTop {
    from { top: -100% }
    to { top: 0px; }
}

.slide.active {
    top: 0px;
    animation-duration: 1s;
    z-index: 450;
    -webkit-backface-visibility: hidden
}

.slide {
    position: absolute;
    min-height: -webkit-fill-available;
    height: 100%;
    /* top: 100%; */
    left: 0;
    background: var(--unid-color);
    width: 100%;
    animation-duration: 1s;
    z-index: 400;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3D(0, 0, 0);
    -webkit-transform-style: preserve-3d;
}
.slide .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    z-index: 9999;
}

.slide .info {
    width: 50%;
    text-align: justify;
    color: #fff;
    font-weight: 100;
}

.slide .info a {
    background: #000;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 12px;
    position: relative;
    top: 15px;
}

.show-phone {
    display: block;
}

ul.lenguajes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

.lenguajes img {
    width: 50px;
}


.slide .muestra {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .muestra figure {
    width: 60%;
    margin: 0;
}

.slide .muestra figure img {
    width: 100%;
}

.arrow {
    padding: 20px 0;
    z-index: 500;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

.arrow .contenedor i {
    color: #fff;
    font-size: 45px !important;
    cursor: pointer;
}
@keyframes sdb05 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0, 20px);
        opacity: 0;
    }
}

.key-arrow {
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

/* ================================
    LOADER
==================================*/

.loader{
    position: fixed;
    z-index: 700;
    transition: all .4s cubic-bezier(0.63,1, 0.3, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c2d44;
}

#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

#particles-background, #particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}
body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.presentation {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.presentation .title {
    font-weight: 800;
    color: transparent;
    font-size: 4em;
    margin: 0;
    background: var(--background-gradient);
    background-size: var(--background-size);
    -webkit-animation: AnimationName 2s ease infinite;
-moz-animation: AnimationName 2s ease infinite;
animation: AnimationName 2s ease infinite;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
}

.presentation .job {
    font-weight: 300;
    color: transparent;
    font-size: 3em;
    margin: 0;
    font-style: italic;
    background: var(--background-gradient);
    background-size: var(--background-size);
    
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.presentation > div {
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}

.presentation div {
    padding: 20px;
    
}


@keyframes borderTop {
    0% {
        width: 20px;
    }

    100% {
        width: calc(50% - 1px);
    }
}

@keyframes borderRightAndLeft {
    0% {
        height: 20px;
    }

    100% {
        height: calc(100% - 2px);
    }
}

.presentation > div::after {
    content:'';
	position: absolute;
	top:0;
	left: 50%;
	width: 20px;
	height: 0;
	border: 1px solid white;
	border-left: none;
	border-bottom: none;
    animation-name: borderTop, borderRightAndLeft;
    animation-duration: 0.15s, 0.15s;
    animation-delay: 2s, 2.30s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.presentation > div::before {
    content:'';
	position: absolute;
	top:0;
	right: 50%;
	width: 20px;
	height: 0;
	border: 1px solid white;
	border-right: none;
	border-bottom: none;
    animation-name: borderTop, borderRightAndLeft;
    animation-duration: 0.15s, 0.15s;
    animation-delay: 2s, 2.30s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.presentation div > div::before {
    content:'';
	position: absolute;
	bottom:0;
	right: 0%;
	height: 1px;
	width: 1px;
    opacity: 0;
    animation-name: borderBottom;
    animation-fill-mode: forwards;
    animation-delay: 2.59s;
    animation-duration: 0.15s;
}

@keyframes borderBottom {
    0% {
        height: 1px;
        width: 1px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        border-bottom: 1px solid white;
        width: calc(50%);
        height: 1px;   
    }
}

.presentation > div > div::after {
    content:'';
	position: absolute;
	bottom:0;
	left: 0%;
	width: 1px;
	height: 1px;
    opacity: 0;
    animation-name: borderBottom;
    animation-fill-mode: forwards;
    animation-delay: 2.59s;
    animation-duration: 0.15s;
}

/* .presentation .container h1,
.presentation .container h2 {
    font-weight: 300;
    color: #fff;
    
} */

.text-focus-in{animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
.text-blur-out{animation:text-blur-out 1s cubic-bezier(.55,.085,.68,.53) both}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-20 20:51:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-20 21:42:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes text-blur-out{0%{filter:blur(.01)}100%{filter:blur(12px) opacity(0)}}

@keyframes bringFromLeft {
    from { left: -100% }
    to { left: 0px } 
}

@keyframes hideToLeft {
    from { left: 0px }
    to { left: -100% }
}

.menu-context {
    position: absolute;
    min-height: -webkit-fill-available;
    min-height: 100%;
    left: -100%;
    background:#fff;
    width: 30%;
    animation-duration: .5s;
    z-index: 1000;
    
}

.menu-context .context-footer {
    position: absolute;
    bottom: 0;
}

.menu-context-menu {
    margin-top: 20px;
}

ul.redes-sociales {
    list-style: none;
    padding: 0;
    width:100%;
    
}

ul.redes-sociales li {
    text-align: center;
    padding: 10px 3px;
}

ul.redes-sociales li a {
    color:#000;
}


/* ul.redes-sociales li:hover {
    background: #a21;
} */

.facebook:hover > a svg { color: #fff; }
.facebook:hover { background: #3b5998 }

.linkdn svg { width: 18px !important;  }
.linkdn:hover > a svg { color:#fff }
.linkdn:hover { background: #0077b5 }

.github svg { width: 23px !important;  }
.github:hover > a svg { color: #fff }
.github:hover { background: #333 }

/* .cv svg { width: !important; } */
.cv:hover > a svg { color: #fff }
.cv:hover { background: #000 }

.redes-sociales li svg {
    width: 15px;
}

#close {
    cursor: pointer;
    
}
  /* ==================
    QUERYS
  ====================*/

@media screen and (min-width: 850px) and (max-width: 1000px) { 
    .slide .info {
        font-size: 15px;
    }

    .slide .muestra figure {
        width: 50%;
    }
}

@media screen and (min-width: 00px) and (max-width: 850px) { 
    .slide .contenedor {
        flex-wrap: wrap;
    }

    .slide .info {
        font-size: 14px;
        position: relative;
        top: 30px;
        width: 100%;
    }

    .slide .muestra {
        width: 40%;
        position: relative;
        bottom: 50px;
        /* margin-bottom: 30px; */
    }

    .arrow {
        padding: 10px 0px;
    }
    .menu-context {
        width: 40%;
    }

    .presentation div {
        padding: 10px;
    }

    .presentation .title {
        font-size: 2em;
    }

    .presentation .job {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 00px) and (max-width: 750px) { 
    #slide4 .contenedor .form,
    #slide4 .contenedor .info {
        width: 100% !important;
    }

    #slide4 .info .content {
        display: flex;
        width: 100%;
    }

    #slide4 .info .content > div {
        width: 100%;
        text-align: center;
    }
    .menu-context {
        width: 50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) { 
    .slide .muestra {
        width: 100%;
    }

    .menu-context {
        width: 100%;
    }

}

@media screen and (min-width: 0px) and (max-width: 450px) {
    .show-phone {
        display: block;
    }
    .only-tablets {
        display: none;
    }
    .slide .info {
        font-size: 12px;
        top: 0px;
    }

    .arrow {
        padding: 5px 0px;
    }

    .slide .muestra {
        width: 60%;
        bottom: 60px;
    }

    header {
        padding: 10px 0;
        /* border-bottom: 3px solid #000; */
        z-index: 500;
        position: absolute;
        top: 0;
        width: 100%;
    }

    header i {
        z-index: 4;
        font-size: 30px !important;
        color: #fff;
        cursor: pointer;
    }

    
    #slide3 .muestra figure {
        width: 100%;
        margin: 0;
    }
}

/* ================================
    DIVISIÓN DE SLIDES
================================== */

#slide2 {
    /* background: rgb(158, 23, 23); */
    background: var(--spotify-color);
}

#slide2 .contenedor .info {
    font-weight: normal !important;
}

#slide2 .info a {
    background: #fff;
    color: var(--spotify-color);
}

#slide3 {
    background: var(--seccion-amarilla-color);
}

#slide3 .info {
    font-weight: normal;
}

#slide3 .info a {
    background: #fff;
    color: #000
}

#slide4 {
    background: var(--form-slide);
    -webkit-transform-style: preserve-3d;
}

#slide4 .contenedor {
    height: 60%;
    margin: 80px auto 0px auto;
    flex-wrap: wrap;
}

 
#slide4 .contenedor h2 {
    color: #fff;
    width: 100%;
}

#slide4 .contenedor .form {
    width: 60%;
    color: #fff;
}
#slide4 .contenedor .info {
    width: 40%;
    color: #fff;
}

#slide4 .contenedor .info {
    display: flex;
    justify-content: center;
    align-items: center;

}

#slide4 .contenedor h2 {
    text-align: center;
}

#slide4 .contenedor form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#slide4 .contenedor form p {
    width: 100%;
}
#slide4 .contenedor form input::selection {
    border:none;
}

#slide4 .contenedor form > ::placeholder {
    color: #fff;
  }

input#fullName, input#asunto {
    width: 40%;
    padding: 10px 0px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
}

input#email {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
}

#slide4 form textarea {
    padding: 10px 0px;
    background: transparent;
    width: 100%;
    color: #fff;
    font-family: 'open sans';
    min-width: 100%;
    border-color: #fff;
    border-width: 0;
    border-bottom: 2px solid #fff;
}

.button-send {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#slide4 .contenedor .button-send a {
    text-align: center;
    width: 40%;
    color: #fff;
    text-decoration: none;
    border: 2px solid;
    border-radius: 25px;
}